body{
	text-align:center;
}

.coming-soon{
	min-height:100vh;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	
}

.event{
	font-size:50px;
}

.countdown{
	display:flex;
}

.container-day,.container-hour,.container-minute,.container-second{
	margin:30px;
}

.day, .hour, .minute , .second{
	font-size:30px;
}

.image{
	height:200px;
}

h1{
	font-size:70px;
	font-weight:bold;
}